<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>772788582210-grbak2oba50hri072vb5rth4be3glg63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772788582210-grbak2oba50hri072vb5rth4be3glg63</string>
	<key>API_KEY</key>
	<string>AIzaSyAeZJZ8zSB2JZzfspN5xb0rI4pnEW1S-XE</string>
	<key>GCM_SENDER_ID</key>
	<string>772788582210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.akram</string>
	<key>PROJECT_ID</key>
	<string>akramtheone-restore</string>
	<key>STORAGE_BUCKET</key>
	<string>akramtheone-restore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772788582210:ios:691049e7f7670629</string>
	<key>DATABASE_URL</key>
	<string>https://akramtheone-restore.firebaseio.com</string>
</dict>
</plist>